@use "../../assets/styles/variables" as *;
@use "sass:color";

button {
    text-transform: uppercase;
    font-size: 1.2em;
    border: none;
    border-radius: 99em;
    padding: 12px 24px;
    cursor: pointer;
    font-weight: 600;
    &.btn-primary {
        background-color: $color-primary;
        color: $color-white;
        &:hover {
            background-color: color.scale($color-primary, $lightness: -20%);
        }
    }
    &.btn-primary-2 {
        background-color: $color-secondary;
        color: $color-black;
        &:hover {
            background-color: color.scale($color-secondary, $lightness: -20%);
        }
    }
    &.btn-secondary {
        background-color: $color-white;
        color: $color-black;
        border: 1px solid $color-black;
        font-size: 1em;
        &:hover {
            background-color: color.scale($color-white, $lightness: -5%);
        }
    }
    &.close {
        color: $color-black;
        margin: 20px;
        padding: 0;
        font-size: 2em;
        position: absolute;
        top: 0;
        right: 0;
    }
    &.arrow-nav {
        background-color: transparent;
        font-size: 2.5em;
        position: absolute;
        top: 37%;
        color: color.scale($color-primary, $lightness: 60%);
        transition: 0.3s;
        &:hover {
            color: color.scale($color-primary, $lightness: 80%);
        }
        @media (max-width: $layout-breakpoint-small) {
            padding: 12px 8px;
        }
        &.next {
            right: 0;
        }
        &.prev {
            left: 0;
        }
    }
}
