@use "../../assets/styles/variables" as *;
@use "sass:color";

#poll {
    position: relative;
    max-width: 1080px;
    width: 100%;
    margin: 10px auto;
    padding: 20px;
    .carousel-root {
        .carousel {
            .control-arrow {
                margin-top: 0;
                top: 45% !important;
                height: fit-content;
            }
        }
    }
}
