main#legals {
    section {
        text-align: left;
        display: block;
        h2 {
            text-transform: initial;
            margin-bottom: 15px;
            font-size: 1.7em;
            margin-top: 40px;
        }
        p {
            font-size: 1.2em;
            margin: 10px;
        }
        ul {
            margin-top: 5px;
            margin-left: 10px;
            li {
                font-size: 1.1em;
                text-align: left;
            }
        }
    }
}
