section {
    display: flex;
    gap: 15px;
    max-width: 1080px;
    margin: 0 auto;
    .card {
        background-color: #fff;
        border-radius: 1rem;
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
        width: 50%;
        height: 220px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
   
}