@use "sass:color";
@use "../../assets/styles/variables" as *;

.card {
    background-color: color.scale($color-primary, $lightness: 10%);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
    padding: 20px;
    min-height: 220px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    @media (max-width: $layout-breakpoint-small) {
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }
    &:hover button.btn-primary {
        background-color: color.scale($color-primary, $lightness: -20%);
    }
    h2 {
        text-transform: uppercase;
        margin: 0 40px 20px 20px;
        text-align: left;
        text-transform: initial;
        color: $color-secondary;
        font-weight: 600;
    }
    &.card-open {
        cursor: initial;
        align-items: flex-start;
        padding: 0;
    }
    &.card-mobile {
        @media (max-width: $layout-breakpoint-small) {
            position: fixed;
            top: 0;
            min-height: 100vh;
            overflow-y: hidden;
        }
    }
}
