@use "../../assets/styles/variables" as *;
@use "sass:color";

#poll {
    fieldset {
        min-height: 7rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0;
        gap: 20px;
        & input[type="button"] {
            white-space: pre-line;
            word-wrap: break-word;
        }
        & input {
            width: 100%;
            max-width: 200px;
            min-width: 190px;
            flex-grow: 1;
            border-radius: 4px;
            background-color: $color-white;
            height: 100%;
            padding: 20px 15px;
            text-transform: uppercase;
            cursor: pointer;
            &:hover {
                box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
                border: none;
                color: color.scale($color-black, $lightness: -50%);
                background-color: color.scale(
                    $color-secondary,
                    $lightness: 40%
                );
            }
            &:focus,
            &:active,
            &:target {
                border: none;
                background-color: color.scale(
                    $color-secondary,
                    $lightness: 10%
                );
            }
        }
    }
}
