@use "../../assets/styles/variables" as *;

#event {
    text-align: left;
    .description_event {
        text-align: left;
        font-family: "Climate Crisis", display, Avenir, Helvetica, Arial,
            sans-serif;
        color: $color-white;
        text-transform: uppercase;
        font-size: 2em;
        word-spacing: 0.3em;
        text-shadow: 1px 1px 2px $color-black;
        @media (max-width: $layout-breakpoint-small) {
            font-size: 1.4em;
            letter-spacing: initial;
            word-spacing: initial;
        }
    }
}
