@use "../../assets/styles/variables" as *;
@use "sass:color";

#scrolling {
    margin: 20px 0;
    position: relative;
    text-align: right;
    overflow-x: hidden;
    .scrolling-text {
        color: $color-secondary;
        font-size: 5em;
        display: inline-block;
        width: max-content;
        text-transform: uppercase;
        font-family: "Climate Crisis", display;
        @media (max-width: $layout-breakpoint-small) {
            font-size: 6em;
        }
        span {
            margin-right: 500px;
        }
    }
}
