@use "../../assets/styles/variables" as *;

footer {
    margin: 30px auto;
    text-align: center;
    a {
        margin: 20px;
        color: $color-white;
        @media (max-width: $layout-breakpoint-small) {
            display: block;
        }
    }
    hr {
        margin-bottom: 30px;
        border: 1px solid $color-secondary;
    }
}
