@use "../../assets/styles/variables" as *;
@use "sass:color";

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 30px auto 0;
    text-align: center;
    background-color: color.scale($color-primary, $lightness: -5%);
    min-height: 85px;
    a {
        margin: 20px;
        color: $color-white;
        @media (max-width: $layout-breakpoint-small) {
            display: block;
        }
    }
    hr {
        margin-bottom: 30px;
        border: 1px solid $color-secondary;
    }
    .separator {
        color: $color-white;
        @media (max-width: $layout-breakpoint-small) {
            display: none;
        }
    }
}
