@use "../../assets/styles/variables" as *;
@use "sass:color";

#message {
    // background-color: $color-primary;
    position: relative;
    padding: 30px;
    width: 100%;
    textarea {
        width: 100%;
        min-height: 200px;
        margin: 30px 0;
        display: block;
        font-size: 3em;
        border-radius: 16px;
        padding: 20px;
        border: 1px solid;
        background-color: color.scale($color-primary, $lightness: -20%);
        font-family: "Climate Crisis", display;
    }
    textarea:placeholder {
        font-size: 3em;
        // color: red;
    }
}
