@use "../../assets/styles/variables" as *;
@use "sass:color";

.popup-content {
    margin: auto;
    background-color: color.scale($color-primary, $lightness: -10%);
    width: 40vw;
    height: 30vh;
    padding: 30px;
    border-radius: 8px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    @media (max-width: $layout-breakpoint-small) {
        width: 100%;
        height: 40vh;
    }
    h2 {
        text-transform: initial;
        color: $color-white;
        font-weight: 600;
    }
}
.popup-arrow {
    color: rgb(255, 255, 255);
}
.popup-overlay {
    padding: 30px;
    background: rgba(0, 0, 0, 0.5);
}

#popin-deco {
    display: flex;
    flex-flow: row wrap;
    margin: 30px auto;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

@keyframes anvil {
    0% {
        transform: scale(1) translateY(0px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    1% {
        transform: scale(0.96) translateY(10px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    100% {
        transform: scale(1) translateY(0px);
        opacity: 1;
        box-shadow: 0 0 500px rgba(241, 241, 241, 0);
    }
}
.popup-content {
    -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}
